
*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
/* Navbar */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tittle{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
   list-style: none;
}
nav a{
  text-decoration: none;
  margin-right: 30px;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
/* Banner Section */
.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-tittle{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 100px;
}
.text-description{
  color: #727272;
  margin-bottom: 30px;
}
.btn-primary{
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
}
.banner img{
  width: 100%;
  margin-top: 50px;
}
/* Main styles */
main{
  max-width: 1440px;
  margin: 80px auto;
}
.teams-container{
  display: flex;
  align-items: center;
}
.img-contianer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-tittle{
  font-size: 2.8rem;
  max-width: 468px;
  margin-bottom: 25px;
}
.teams-tittle .span-1{
  color: #727272;
  font-weight: 500;
}
.teams-tittle .span-2{
  color: #FF900E;
  font-weight: 700;
}
/* Features section styles */
.feature{
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.feature .nav-tittle{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-content .cards{
  padding: 10px;
  margin-bottom: 20px;
  width: 586px;
  height: 171px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature img{
  height: 90%;
  margin-left: 90px;
}
.ten-years{
  width: 342px;
  height: 200px;
  border-radius: 8px;
  background: #FF900E;
  color: white;
  padding: 40px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.ten-years h2{
  font-size: 4rem;
  margin: 0;
}
.ten-years p{
  font-size: 1.5rem;
}
/* Facts section */
.facts{
  margin-top: 130px;
}
.card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
}
.facts-container{
  display: flex;
  justify-content: space-around;
}
.facts-container, .card-tittle{
  font-weight: 600;
  font-size: 1.25rem;
  color: #727272;
  margin-top: 5px;
}
.facts-container .card-stats{
  font-size: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Sponsors styles */
.sponsors{
  text-align: center;
  margin-top: 180px;
}
.sponsors-img-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 40px;
}
.sponsors-img-container img{
  width: 165px;
}
footer{
  margin: 170px auto;
  width: 1440px;
  height: 100px;
  border-radius: 8px;
  background: #FFF4E7;
}
.copyright-warning{
  color: #424242;
  text-align: center;
  font-size: 1rem;
  padding: 40px 410px;
}

/* Responsive media query */
/*Mobile device */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav,.teams-container{
    flex-direction: column;
  }
  .img-contianer{
    grid-template-columns: 1fr;
  }
  .teams-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }
  .facts-container{
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }
  .sponsors-img-container{
    flex-direction: column;
  }
  footer{
    width: 100%;
  }
  .copyright-warning{
    padding: 10px;
  }
  .feature{
    flex-direction: column;
  }
  .feature img{
    width: 100%;
    margin-left: 0;
  }
  .ten-years{
    position: static;
    max-width: 300px;
  }
  .feature-content .cards{
    width: 100%;
  }
}
/* Medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header{
    padding: 50px;
  }
  nav,.teams-container{
    flex-direction: column;
  }
  .teams-content{
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 30px;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 40px;
    padding-right: 40px;
    gap: 30px;
  }
  .sponsors-img-container{
    flex-direction: column;
  }
  footer{
    width: 100%;
  }
  .copyright-warning{
    padding: 30px;
  }
  .feature{
    flex-direction: column;
  }
}