 
*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}
/* Navbar */
header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-tittle{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
nav>ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li{
   list-style: none;
}
nav a{
  text-decoration: none;
  margin-right: 30px;
  color: #424242;
  font-size: 1rem;
  font-weight: 500;
}
/* Banner Section */
.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.banner-tittle{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 100px;
}
.text-description{
  color: #727272;
  margin-bottom: 30px;
}
.btn-primary{
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background: #FF900E;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
}
.banner img{
  width: 100%;
  margin-top: 50px;
}
/* Main styles */
main{
  max-width: 1440px;
  margin: 80px auto;
}
.teams-container{
  display: flex;
  align-items: center;
}
.img-contianer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-tittle{
  font-size: 2.8rem;
  max-width: 468px;
  margin-bottom: 25px;
}
.teams-tittle .span-1{
  color: #727272;
  font-weight: 500;
}
.teams-tittle .span-2{
  color: #FF900E;
  font-weight: 700;
}



/* Responsive media query */
/*Mobile device */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
  }
  nav,.teams-container{
    flex-direction: column;
  }
  .img-contianer{
    grid-template-columns: 1fr;
  }
  .teams-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }
}
/* Medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header{
    padding: 50px;
  }
  nav,.teams-container{
    flex-direction: column;
  }
  .teams-content{
    padding-left: 90px;
    padding-right: 90px;
    margin-top: 30px;
  }
}